body {
  padding: 20px;
}

#checkout {
  box-shadow: inset px 25px 0px 0px #cbcbcb,
    0px 2px 4px 2px #777,
    0px 0px 0px 8px #ccc,
    0px 0px 0px 10px #fff,
    0px 0px 0px 12px #555,
    0px 10px 20px 10px #999;
  position: relative;
  top: 50px;
  font-family: sans-serif;
  text-transform: uppercase;
  color: #444;
  font-weight: bold;
  font-size: 30px;
  border-radius: 10px;
  background-color: #bcbcbc;
  padding: 20px;
  margin: 40px;
  border: 1px solid #888;
}

#checkout:before {
  color: #888888;
  content: "⭑ ";
}

#checkout:after {
   color: #888888;
  content: " ⭑";
}
